:host {
  display: flex;
  flex-direction: column;
}

input{
  font-size: 1.3rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}

.back__button {
  margin: 1rem;
}

button {
  margin: 1rem;
}

.form {
  margin-top: 3rem;
  text-align: center;
  flex-grow: 1;
}

.form__box {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem 4rem;
  margin: 0;
}
