:host {
  height: 100vh;
  width: 100vw;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}

.back__button {
  position: inherit;
  margin: 1rem;
}

.navigation__button {
  margin: 1rem;
}

.business__cards {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 8px 8px 22px -12px rgba(66, 68, 90, 1);
  border-radius: 10px;
  padding: 0.5rem;
  transition: transform 0.2s;
  width: 25rem;
}

.card:hover {
  transform: scale(1.05);
}

.data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  grid-template-areas:
    "company name name delete"
    "company email email email"
    "company number number favorite";
  align-items: center;
  justify-items: start;
  padding: 0.5rem;
}

.company__name {
  color: purple;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 100;
  grid-area: company;
  text-align: center;
}

.name {
  font-size: 1.2rem;
  font-style: italic;
  grid-area: name;
}

.email {
  grid-area: email;
}

.phone__number {
  grid-area: number;
}

.favorite {
  margin: 0;
  grid-area: favorite;
}

.outlined-favorite {
  font-variation-settings: "FILL" 0, "wght" 900, "GRAD" 0, "opsz" 48;
}

.favorite__active {
  background-color: black;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
}

.hide {
  display: none;
}

.delete {
  grid-area: delete;
}
